<div>
  <div>
    <h2>Subscription - nice trick</h2>
    <div  fxLayout="row">
      <div fxFlex="100%">
        <p>Subscription can be active as long as the condition is true.</p>
        <p>We can use operator <i>takeWhile</i> to check condition</p>
      </div>
    </div>
  </div>

  <hr>
  <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="70%">
        <img src="assets/takeWhile.png" style="max-width: 100%;">
      </div>
    </div>
  <hr>

  <div fxFlex="100%">
    <h2>Code</h2>
    <pre>
      <code #code highlight class="typescript">
this.isAlive = true;
const observable = Observable.interval(1000)
  .<b style="color: red">takeWhile</b>(() => this.isAlive);

observable.subscribe((value) => this.result = value);
      </code>
    </pre>
  </div>

  <div fxFlex="100%">
    <h2>Result</h2>
    <div [innerHTML]="result" class="result"></div>
    <div><code><b>this</b>.isAlive = {{ isAlive }}</code></div>
    <button mat-raised-button color="primary" (click)="run()">Run</button>
    <button mat-raised-button color="warn" (click)="isAlive = false">False</button>
    <button mat-raised-button color="accent" (click)="isAlive = true" *ngIf="!isAlive">True</button>
  </div>

  <div>
    <a routerLink="/subscription/add"><mat-icon>arrow_backward</mat-icon></a>
  </div>
</div>
