<div>
  <div>
    <h2>Merge</h2>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/merge.png" style="max-width: 60%;">
  </div>
  <hr>

  <div fxFlex="100%">
    <h2>Code</h2>
    <pre>
      <code #code highlight class="typescript">
const dailyBugleObservable = Observable.create((observer) => &#123;
  setNextEmitInInterval("Spider-Man - Threat or menace", 5000, observer);
&#125;);
const dailyNewsObservable = Observable.create((observer) => &#123;
  setNextEmitInInterval("World leaders meet ... ", 10000, observer);
&#125;);
const pudelekObservable = Observable.create((observer) => &#123;
  setNextEmitInInterval("Słodkie pocałunki... zobacz kto!", 2500, observer);
&#125;);

const newsObservable = merge(
  dailyBugleObservable,
  dailyNewsObservable,
  pudelekObservable,
);

newsObservable.subscribe((news: string) => this.result.push(news));
      </code>
    </pre>
  </div>

  <div fxFlex="100%">
    <div fxLayout="row" class="result-operator">
      <div fxFlex="50%">
        <h2>Merge result</h2>
        <div *ngFor="let value of result" [ngStyle]="{'color': value[1] }">{{value[0]}}</div>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="run()">Run</button>
    <button mat-raised-button color="warn" (click)="clear()">Clear</button>
  </div>

  <div>
    <a routerLink="/operators/buffer-and-repeat"><mat-icon>arrow_backward</mat-icon></a>
    <a routerLink="/operators/combine-latest"><mat-icon>arrow_forward</mat-icon></a>
  </div>
</div>
