<div>
  <div>
    <h2>Generator and iterator</h2>

    <div  fxLayout="row">
      <div fxFlex="50%">
        special kind of function, which can be exited and leter can be re-entered in the last execution point.
      </div>
    </div>
  </div>
  <hr>

  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="70%">
      <h2>Code</h2>
      <pre>
        <code #code highlight class="typescript">
const fibonnaci = generate_fibonnaci();
setInterval(() => this.result += fibonnaci.next().value + " ", 1000);

*generate_fibonnaci() &#123;
  let a = 0, b = 1;
  while (true) &#123;
    yield a;
    const tmp = b;
    b = a + b;
    a = tmp;
  &#125;
&#125;
        </code>
      </pre>
    </div>

    <div fxFlex="30%">
      <h2>Result</h2>
      <div [innerHTML]="result" id="result"></div>
      <button mat-raised-button color="primary" (click)="run()">Run</button>
      <button mat-raised-button color="warn" (click)="clear()">Clear</button>
    </div>
  </div>

  <div fxFlex="100%">
    <a mat-button href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function*" target="_blank">
      More information about generators
    </a>
  </div>
</div>
