<mat-list>
  <mat-list-item><a routerLink="/" routerLinkActive="active">Start</a></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><a routerLink="/iterator" routerLinkActive="active">Iterator</a></mat-list-item>
  <mat-list-item><a routerLink="/invokable-collection" routerLinkActive="active">Invokable collection</a></mat-list-item>
  <mat-list-item><a routerLink="/subscription" routerLinkActive="active">Subscription</a></mat-list-item>
  <mat-list-item><a routerLink="/subject" routerLinkActive="active">Subject</a></mat-list-item>
  <mat-list-item><a routerLink="/operators" routerLinkActive="active">Operators</a></mat-list-item>
</mat-list>
