<div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>RxJS - Practically presentation about practical approaches to reactive programming</h1>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start">
        <div fxFlex="10%" fxFlex.xs="30%">
            <app-menu></app-menu>
        </div>
        <div class="container" fxFlex="100%">
            <router-outlet></router-outlet>
            <hr>
        </div>
    </div>

    <div style="text-align: center">
        Copyright by Kamil Mówiński. All images were retrieved from <a href="http://reactivex.io/rxjs" target="_blank">http://reactivex.io/rxjs</a> <br><br>
        <a href="https://blog.vulpesoft.pl" target="_blank">Kamil Mówiński Vulpesoft Blog</a><br><br>
        <a href="https://stxnext.pl" target="_blank"><img src="assets/logo_stx.svg"></a>
    </div>
</div>
