<div>
  <div>
    <h2>Operators</h2>
    <div fxFlex="100%">
      <p>is a function, which returns a new Observable object.</p>
    </div>
    <div fxFlex="100%">
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Creation</th>
            <th>Transformation</th>
            <th>Filtering</th>
            <th>Combination</th>
            <th>Utility</th>
            <th>...</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="hidden"></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/index/Observable#create" target="_blank">create</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/buffer" target="_blank">buffer</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/debounceTime" target="_blank">debounceTime</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/combineLatest" target="_blank">combineLatest</a></td>
            <td><a href="" target="_blank">do</a></td>
            <td class="hidden"></td>
          </tr>
          <tr>
            <td class="hidden"></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/index/from" target="_blank">from</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/map" target="_blank">map</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/filter" target="_blank">filter</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/index/concat" target="_blank">concat</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/delay" target="_blank">delay</a></td>
            <td class="hidden"></td>
          </tr>
          <tr>
            <td class="hidden"></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/index/interval" target="_blank">interval</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/scan" target="_blank">scan</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/skip" target="_blank">skip</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/index/merge" target="_blank">merge</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/timeout" target="_blank">timeout</a></td>
            <td class="hidden"></td>
          </tr>
          <tr>
            <td class="hidden"></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/index/of" target="_blank">of</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/partition" target="_blank">partition</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/take" target="_blank">take</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/mergeAll" target="_blank">mergeAll</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/toArray" target="_blank">toArray</a></td>
            <td class="hidden"></td>
          </tr>
          <tr>
            <td class="hidden"></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/repeat" target="_blank">repeat</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/pluck" target="_blank">pluck</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/operators/takeWhile" target="_blank">takeWhile</a></td>
            <td><a href="https://rxjs-dev.firebaseapp.com/api/index/zip" target="_blank">zip</a></td>
            <td><a href="" target="_blank">toPromise</a></td>
            <td class="hidden"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div fxFlex="100%">
    <h2>Code</h2>
    <pre>
      <code #code highlight class="typescript">
class Sheep &#123;
  constructor(public isRam: boolean) &#123; &#125;
&#125;

const flock = Array.from(&#123; length: 15 &#125;, () => getRandomSheep());

const flockObservable = Observable.from(flock);
const onlyRamObservable = Observable.from(flock)
  .<b style="color: red">filter</b>((sheep: Sheep) => sheep.isRam);

flockObservable.subscribe(
  (sheep: Sheep) => this.flockResult.push(sheep),
);
onlyRamObservable.subscribe(
  (sheep: Sheep) => this.ramResult.push(sheep),
);

<hr>
// flockObservable
//    .filter((sheep: Sheep) => sheep.isRam)
//    .subscribe((sheep: Sheep) => this.ramResult.push(sheep));
      </code>
    </pre>
  </div>

  <div fxFlex="100%">
    <div fxLayout="row" class="result-operator">
      <div fxFlex="50%">
        <h2>Flock of sheep</h2>
        <div *ngFor="let value of simpleResult">{{value.getName()}} ({{value.isRam ? 'ram': 'sheep'}})</div>
      </div>
      <div fxFlex="50%">
        <h2>Flock of ram</h2>
        <div *ngFor="let value of filterResult">{{value.getName()}} ({{value.isRam ? 'ram': 'sheep'}})</div>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="run()">Run</button>
    <button mat-raised-button color="warn" (click)="clear()">Clear</button>
  </div>

  <div>
    <a routerLink="/operators/skip-and-take"><mat-icon>arrow_forward</mat-icon></a>
  </div>
</div>
