<div>
    <div>
      <div fxLayout="row">
        <div fxFlex="50%">
          <h2>Buffer (click on image)</h2>
          <img src="./assets/buffer.png" style="max-width: 60%;" (click)="showBufferVideo = !showBufferVideo">
        </div>
        <div fxFlex="50%">
          <h2>Repeat (click on image)</h2>
          <img src="./assets/repeat.png" style="max-width: 60%;" (click)="showRepeatVideo = !showRepeatVideo">
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <iframe *ngIf="showBufferVideo" width="560" height="315" src="https://www.youtube.com/embed/Oi483GlQ5Rk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe *ngIf="showRepeatVideo" width="560" height="315" src="https://www.youtube.com/embed/ym64NFCWORY?rel=0&amp;controls=0&amp;showinfo=0&amp;start=44" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
      <button *ngIf="showBufferVideo" mat-raised-button color="primary" (click)="showBufferVideo = false">Hide</button>
      <button *ngIf="showRepeatVideo" mat-raised-button color="primary" (click)="showRepeatVideo = false">Hide</button>
    </div>
    <hr>

    <div fxFlex="100%">
      <h2>Code</h2>
      <pre>
        <code #code highlight class="typescript">
const waterObservable = Observable.interval(300).map(
  () => getWaterUnit(),
);
const gravityTriggerObservable = Observable.interval(5000);
const fontainObservable = waterObservable.<b style="color: red">buffer</b>(
  gravityTriggerObservable,
);

fontainObservable.subscribe((water) => this.bufferResult = water);

const motherboardProduction = Observable.create((observer) => &#123;
  observer.next('Mount processor');
  setTimeout(() => observer.next('Mount first RAM'), 1000);
  setTimeout(() => observer.next('Mount second RAM'), 3000);
  setTimeout(() => observer.next('Mount third RAM'), 5000);
  setTimeout(() => observer.next('Mount last RAM'), 7000);
  setTimeout(() => observer.next('Voltage test - passed'), 9000);
  setTimeout(() => observer.complete(), 10000);
&#125;);

motherboardProduction.<b style="color: red">repeat</b>(3)
  .subscribe((command: string) => this.repeatResult.push(command));
        </code>
      </pre>
    </div>

    <div fxFlex="100%">
      <div fxLayout="row" class="result-operator">
        <div fxFlex="50%">
          <h2>Buffer result</h2>
          <h3>Fountain</h3>
          <span *ngFor="let drop of bufferResult">
            <img src="./assets/drop.png" *ngFor="let i of Arr(drop).fill(1)" class="waterdrop">
          </span>
        </div>
        <div fxFlex="50%" style="margin-left: 20px">
          <h2>Repeat result</h2>
          <h3>Robot</h3>
          <div *ngFor="let value of repeatResult">{{value}}</div>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="run()">Run</button>
      <button mat-raised-button color="warn" (click)="clear()">Clear</button>
    </div>

    <div>
      <a routerLink="/operators/scan-and-reduce"><mat-icon>arrow_backward</mat-icon></a>
      <a routerLink="/operators/merge"><mat-icon>arrow_forward</mat-icon></a>
    </div>
  </div>
