<div>
    <div>
      <h2>Subscription - nice trick</h2>
      <div  fxLayout="row">
        <div fxFlex="100%">
          <p>Every subscription should be unsubscribed. Let me show you why it is so important.</p>
        </div>
      </div>
    </div>

    <hr>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="70%">
        <img src="assets/interval.png" style="max-width: 100%;">
      </div>
    </div>

    <div fxFlex="100%">
      <h2>Code</h2>
      <pre>
        <code #code highlight class="typescript">
this.result = window.memory_leak ? window.memory_leak : 0;
Observable.<b style="color: red">interval(1000)</b>.subscribe(value => &#123;
  window.memory_leak = value;
  this.result += 1;
&#125;);
        </code>
      </pre>
    </div>

    <div fxFlex="100%">
      <h2>Result</h2>
      <div [innerHTML]="result" class="result"></div>
      <button mat-raised-button color="primary" (click)="run()">Run</button>
    </div>

    <div>
        <a routerLink="/subscription/add"><mat-icon>arrow_forward</mat-icon></a>
      </div>
  </div>
