<div>
  <div>
    <h2>ReplaySubject</h2>
    <div  fxLayout="row">
      <div fxFlex="50%">
        <p>It keeps last X values from an observable object and passes them to a new observer in correct order</p>
      </div>
    </div>
  </div>

  <hr>

  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="70%">
      <h2>Code</h2>
      <pre>
        <code #code highlight class="typescript">
@Injectable()
export class NewsService &#123;
  private $sub: Subscription;
  private newsSubject = new ReplaySubject&#60;News&#62;(3);

  create() &#123;
    this.$sub = Observable.interval(5000)
        .take(NEWS.length)
        .map((ind: number) => NEWS[ind])
        .subscribe(this.newsSubject);
  &#125;

  getLatestNews(): ReplaySubject&#60;News&#62; &#123;
    return this.newsSubject
  &#125;

  destroy() &#123;
    if (this.$sub) &#123;
      this.$sub.unsubscribe();
    &#125;
  &#125;
&#125;

...

run() &#123;
  const indx = this.subscriptions.length;
  this.subscriptions.push(this.newsService.getLatestNews().subscribe(
    (news: News) => this.result += 'Reader ' + indx + ': ' + news.title + '',
  ));
&#125;
        </code>
      </pre>
    </div>

    <div fxFlex="30%">
      <h2>Result</h2>
      <div [innerHTML]="result | sanitizeHtml" class="result"></div>
      <button mat-raised-button color="primary" (click)="run()">Attach new ReplaySubject</button>
      <button mat-raised-button color="warn" (click)="stop()">Stop</button>
    </div>
  </div>

  <div>
      <a routerLink="/subject/behavior-subject"><mat-icon>arrow_backward</mat-icon></a>
    </div>
</div>
