<div>
    <div>
      <h2>Subscription - nice trick</h2>
      <div  fxLayout="row">
        <div fxFlex="50%">
          <p>Subscription can be put together and then a programmer just need to unsubscribe only the one.</p>
        </div>
      </div>
    </div>

    <hr>

    <div fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="70%">
        <h2>Code</h2>
        <pre>
          <code #code highlight class="typescript">
run() &#123;
  this.subscription = Observable.interval(500).subscribe(value => this.result = value);
  const childSubscription = Observable.interval(1000).subscribe(value => this.childResult = value);

  this.subscription.add(childSubscription);
&#125;

clear() &#123;
  if(this.subscription) &#123;
    this.subscription.unsubscribe();
  &#125;
&#125;
          </code>
        </pre>
      </div>

      <div fxFlex="30%">
        <h2>Result</h2>
        <div [innerHTML]="result" id="result"></div>
        <h2>Child result</h2>
        <div [innerHTML]="childResult" id="result"></div>
        <button mat-raised-button color="primary" (click)="run()">Run</button>
        <button mat-raised-button color="primary" (click)="clear()">Unsubscribe</button>
      </div>
    </div>

    <div>
      <a routerLink="/subscription"><mat-icon>arrow_backward</mat-icon></a>
      <a routerLink="/subscription/take-while"><mat-icon>arrow_forward</mat-icon></a>
    </div>
  </div>
