<div>
    <div>
      <h2>Subscription - nice trick</h2>
      <div  fxLayout="row">
        <div fxFlex="100%">
          <p>Subscription can be put together and then a programmer just need to unsubscribe only the one.</p>
        </div>
      </div>
    </div>

    <hr>

    <div fxFlex="100%">
      <h2>Code</h2>
      <pre>
        <code #code highlight class="typescript">
run() &#123;
  this.subscription = Observable.interval(500)
    .subscribe(value => this.result = value);

  const childSubscription = Observable.interval(1000)
    .subscribe(value => this.childResult = value);

  this.subscription.<b style="color: red">add</b>(childSubscription);
&#125;

unsubscribe() &#123;
  if(this.subscription) &#123;
    this.subscription.unsubscribe();
  &#125;
&#125;
        </code>
      </pre>
    </div>

    <div fxFlex="100%" fxLayout="row">
      <div fxFlex="50%">
        <h2>Result</h2>
        <div [innerHTML]="result" class="result"></div>
      </div>
      <div fxFlex="50%">
        <h2>Child result</h2>
        <div [innerHTML]="childResult" class="result"></div>
      </div>
    </div>

    <div fxFlex="100%">
      <button mat-raised-button color="primary" (click)="run()">Run</button>
      <button mat-raised-button color="primary" (click)="clear()">Unsubscribe</button>
    </div>

    <div>
      <a routerLink="/subscription"><mat-icon>arrow_backward</mat-icon></a>
      <a routerLink="/subscription/take-while"><mat-icon>arrow_forward</mat-icon></a>
    </div>
  </div>
